node_modules/
.env
database.sqlite
database.sqlite-shm
database.sqlite-wal
.next/
.next_temp/
out/
backups/
credentials.json
*.json
credentials.json
student-tasks-system-a3c35e8ac1b8.json
logs/error-2026-05-25.log
logs/combined-2026-05-25.log